<!DOCTYPE HTML>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <style>
    body{
    background-color: #D2691E;
    color: #FFFFFF;
    }

    table{
    color: #FFFFFF;

    }
    </style>
</head>
<body >





<div class="container">

    <table class="table text-white">
        <h2>Документация проекта</h2>
        <thead>
        <tr>
            <th><h3>API</h3></th>
            <th>Ссылка</th>
            <th>Описание и примеры</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>/</td>
            <td>/</td>
            <td>Документация проекта</td>
        </tr>
        <tr>
            <td>/user</td>
            <td>/user</td>
            <td>Получаем весь список пользователей   <a th:href="@{/user}">/user</a></td>
        </tr>
        <tr>
            <td>/setuser</td>
            <td>/setuser</td>
            <td>Создает нового юзера..Пример запроса: http://localhost:8080/setuser?name=User&userrole=admin&login=login$&pass=RTYUFSGRTER</p></td>
        </tr>

        <tr>
            <td>/getUserID</td>
            <td>/getUserID</td>
            <td>Поиск юзера по id..Пример запроса: http://localhost:8080/getUserID?id=4</td>
        </tr>

        <tr>
            <td>/deleteUserID</td>
            <td>/deleteUserID</td>
            <td>Delete юзера по id..Пример запроса: /getUserID?id=4</td>
        </tr>




        </tbody>
    </table>
</div>





</body>
</html>